<html>
  <head>
    <title>First page</title>
  </head>
    <body>
      <form action="/access_room" method="post">
        <label for="room_name">Enter room id: </label>
        <input id="room_name" type="text" name="room_name" placeholder="Enter the room id" />
        <br/><br/>
        <label for="validate_access">Enter room key: </label>
        <input id="validate_access" type="text" name="validate_access" placeholder="Enter room key"/>
        <br/><br/>
        <label>No valid room key or room id</label>
        <br/><br/><br/>
        <input type="submit" value="OK">
      </form>
  </body>
</html>